# IDEs & Editor Configuration
.idea/
.vscode/
cmake-build-*/
*.swp

# Eclipse / STM32CubeIDE Metadata
.metadata/
**/.settings/
**/.cproject
**/.project

# Common CMake Build Artifacts
build/
out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# GCC ARM / Embedded Build Artifacts
Debug/
debug/
Release/
release/
*.o
*.d
*.ko
*.obj
*.elf
*.bin
*.hex
*.map
*.su

# Debug & Launch Configurations
*.launch

# STM32 / CubeMX Temporary Files
.mxproject
mx.scratch

# Include STM32CubeMX Drivers & Middlewares
!firmware/**/Drivers/
!firmware/**/Middlewares/