# Toolchain & Editor IDES (CLion / JetBrains)
.idea/
cmake-build-*/
.clang-format
*.swp

# Common CMake build outputs
build/
out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# GCC ARM / Embedded Build Artifacts
Debug/
debug/
Release/
release/
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.su

# STM32 / CubeMX Temporary Files
.mxproject
mx.scratch

# Optional IDE / Tool Configuration Overlays
.vscode/
*.launch

# resources will be centralized
#firmware/**/Middlewares/
#firmware/**/Drivers/

# CubeIDE / Eclipse metadata
**/.settings/
**/.cproject
**/.project